@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  margin: 10px;
  padding: 0;
  --gradient-bg: linear-gradient(56deg, rgba(140,82,255,1) 0%, rgba(248,4,156,1) 60%, rgba(248,163,72,1) 99%);
  --gradient-bg-txt: linear-gradient(56deg, rgba(140,82,255,1) 0%, rgba(248,4,156,1) 28%, rgba(248,163,72,1) 62%);
}
body {
  font-family: "Varela Round", sans-serif;
  height: 100vh;
  background: #161513;
  color: white;
}
a{
  text-decoration: none;
  color: white;
}
